spring:
  application:
    name: V-Carter E-Commerce Platform

  datasource:
    url: jdbc:postgresql://localhost:5432/vcarter_commerce_db
    username: postgres
    password: mannu@scaler

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: cb69726260216723225f19069d255140ec5399587a808f0a905a819b7834274c
  expiration: 3600000 # 1000 * 60 * 60 * 1 = 1 hour

logging:
  level:
    org:
      hibernate:
        orm:
          jdbc:
            bind: trace

      springframework:
        security: DEBUG